# Ignore all by default
*

# Allow git files
!.gitignore
!.gitattributes

# Allow GitHub files
!.github/
!.github/workflows/
!.github/workflows/*.yml
!.github/workflows/*.yaml

# Allow images
!images/
!images/*.png
!images/*.jpg

# Allow configs
!configs/
!configs/*.yml
!configs/*.yaml

# Allow Markdown files
!*.md

# Allow license files
!LICENSE
!LICENSE.md
